html,
body {
    background: #fff;
}

* {
    box-sizing: border-box;
}

.row {
    display: flex;
    margin: 10px -10px;
}

.outerbox {
    margin: 10px;
    width: 50%;
}

.box {
    background: no-repeat;
    background-color: #f7f7f7;
    background-position: center;
}

.box {
    background-size: contain;
}

.cover.box {
    background-size: cover;
}

.lazyloading:before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin: -20px 0 0 -20px;
    content: "";
    background: #f7f7f7 url(//afarkas.github.io/lazysizes/assets/imgs/loader.gif) no-repeat center;
    background-image: url();
}

.ratio-container {
    position: relative;
}

.ratio-container:after {
    content: '';
    display: block;
    height: 0;
    width: 100%;
    /* 16:9 = 56.25% = calc(9 / 16 * 100%) */
    padding-bottom: 100%;
}

.ratio-container>* {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}